# Environments
.env
.venv/
venv/
ENV/

# Pyrogram session file
*.session
*.session-journal

# Data and downloads
data/
downloads/
activity.log
config.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
.vscode/
